.root {
  -fx-background-image: url("/imgs/woodgrain-background-vector.jpg");
  -fx-background-size: 100% 100%;
  -fx-background-position: center center;
}

#playerLabel, #clockLabel {
  -fx-text-fill: #000000;
  -fx-font-size: 25px;
  -fx-font-weight: bold;
}

#scoreLabel, #timeLabel {
  -fx-text-fill: #000000;
  -fx-font-size: 22px;
}